 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who We Are</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The UX Report is built by a team of rockstar Product Managers, Entrepreneurs and Marketing experts who have a wealth of experience building and launching UX-focused products.</p>
                </div>
                <div class="col-lg-4">
                    <p>Between us we have built an industry-leading analytics dashboard, hosted a startup podcast, founded a restaurant-focused company, founded a communication app company, and more.</p>
                </div>
            </div>
        </div>
    </section>
