 <!-- Overview Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Product consultancy, without the enterprise fluff.</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Consumers are more aware of "good" user experience than ever before - They expect the best.</p><p>You need to go the extra 10 miles if you want your product to stand out. This is the difference between a good product, and a product that users will preach about.</p>
                </div>
                <div class="col-lg-4">
                    <p>In the same way that you'll never spot your own typos, you'll never see the gaps in your product that are holding back the user experience.</p><p> We'll approach your product from a completely fresh perspective and suggest actionable improvements that you'll love - or we'll refund you 100%.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        Get your report
                    </a>&nbsp;&nbsp;
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download example PDF
                    </a>
                </div>
            </div>
        </div>
    </section>
