 <!-- Overview Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Gold-dust level insights, or you pay nothing.</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Consumers are more aware of user experience than they have ever been. They expect 100%.<br/>Here's the reality: You need to give them 120% if you want to stand out. This is the difference between a good product, and a product that users will preach about.<br/>This is the extra 20% that really counts.</p>
                </div>
                <div class="col-lg-4">
                    <p>Just in the same way that you'll never spot your own typos, you'll never see the gaps in your product that are holding back the user experience. We'll approach your product from a completely "blank-slate" perspective and suggest actionable improvements that you'll love - or we'll refund you 100%.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        Get your report
                    </a>
                </div>
            </div>
        </div>
    </section>
